{
    "authentication": {
        "password": {
            "password": "{{ password }}",
            "username": "{{ username }}"
        }
    },
    "description": "{{ name }}",
    "device-id": "{{ name }}",
    "host": "{{ ip }}",
    "iAgent": {
        "port": {{ netconf_port }}
    },
    "open-config": {
        "port": {{ openconfig_port }}
    },
    "system-id": "{{ name }}"
}


