interfaces {
{% for neighbor in neighbors %}
    replace:
    {{ neighbor.interface }} {
        description "{{ neighbor.interface_description }}";
        unit 0 {
            family inet {
                address {{ neighbor.local_ip }}/31;
            }
        }
    }
{% endfor %}
}
protocols {
    replace:
    bgp {
        group underlay {
            import bgp-in;
            export bgp-out;
            type external;
            local-as {{ local_asn }};
            multipath multiple-as;
{% for neighbor in neighbors %}
            neighbor {{ neighbor.peer_ip }} {
                peer-as {{ neighbor.asn }};
            }
{% endfor %}
        }
    }
}    
replace:
policy-options {
    policy-statement bgp-in {
        then accept;
    }
    policy-statement bgp-out {
        then accept;
    }
}
replace: 
snmp {
    community public;
}
system {
    services {
        extension-service {
            request-response {
                grpc {
                    clear-text {
                        port 32768;
                    }
                    skip-authentication;
                }
            }
            notification {
                allow-clients {
                address 0.0.0.0/0;
                }
            }
        }
    }
}


