---
name: {{ device_id }}
ip: {{ host }}
username: {{ authentication.password.username }} 
password: {{ authentication.password.password }}
openconfig_port: {{ open_config.port }}
netconf_port: {{ iAgent.port }}

